/**********************************************
Variables import
**********************************************/
@import "vars.less";
/**********************************************
CSS Reset
Yes, Eric Meyer's one
**********************************************/
*, *::before, *::after {
	box-sizing: inherit;
	scroll-behavior: smooth;
}
html, body, h1, h2, p, a, address, img, dd, dl, dt, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	font-style: normal;
	line-height: @baseLineHeight;
}
ul {
	list-style: none;
}
html {
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
article, footer, header, main, nav {
	display: block;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	max-width: 100%;
	height: auto;
}
/**********************************************
Typography
directly from Bootstrap
**********************************************/
p {
	font-weight: normal;
	margin-bottom: unit( @baseLineHeight / 2, rem );
}
h1, h2 {
	font-weight: bold;
	margin-bottom: unit( @baseLineHeight, rem );
	clear:both;
	line-height: unit( @baseLineHeight * 2, rem );
}
dl {
	margin-bottom: unit( @baseLineHeight / 2, rem );
}
dl dt {
	font-weight: bold;
}
dl dd {
	margin-left: unit( @baseLineHeight / 2, rem );
}
address {
	display: block;
	margin-bottom: @baseLineHeight;
}
/**********************************************
General ones
**********************************************/
:focus {
	outline: 2px #f00 dashed;
}
html {
	box-sizing: border-box;
	background: @pageBackground;
	font-family: @baseFontFamily;
	font-weight: normal;
	color: @baseColor;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: space-between;
}

@media screen and (min-width: 1024px) {
	body {
		max-width: @bodyWidth;
		margin: 0 auto;
	}
}

h1, h2 {
	clear: both;
}

a {
	display: inline-block;
	padding: unit( @baseLineHeight / 2, rem );
	margin: unit( @baseLineHeight / 3, rem ) 0;
	border: 1px @baseColor solid;
	text-decoration: none;
	vertical-align: baseline;
	color: @linkColor;
	/*Transitions!!!*/
	transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
	text-decoration-skip-ink: auto;
}

a:hover, a:focus {
	color: darken( @linkColor, 10% );
}

@media screen and (min-width: 769px) {
	a {
		display: inline;
		padding: 0;
		margin: 0;
		text-decoration: underline;
		border: none;
	}
	a:hover, a:focus {
		text-decoration: none;
	}
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	border-bottom: 1px solid @contentBorderColor;
}

@media screen and (min-width: 300px) {
	.header {
		height: @logoHeight;
	}
}

.logo__link {
	display: block;
	text-decoration: none;
	margin: 0;
	height: @logoHeight;
	width: @logoWidth;
	background: url(@logoURL) no-repeat;
	padding: 0;
	text-indent: 100%;
	font: 0/0 a;
	overflow: hidden;
	vertical-align: middle;
	position: relative;
	border: none;
}
@media screen and (min-width: 641px) {
	.logo__link {
		width: auto;
		font: @h1Size/@baseLineHeight @baseFontFamily;
		text-indent: 0;
		padding-left: @logoWidth;
	}
}
.logo__text {
	.sr-only;
}
.logo__link:hover, .logo__link:focus {
	background-position: 0 -@logoHeight;
}

.nav__menu {
	margin: 0;
}
.menu__item {
	display: block;
	text-align: center;
	font-size: @h2Size;
	line-height: @baseLineHeight * 2;
}

.menu {
	margin: 0;
	display: flex;
	width: 100%;
	justify-content: flex-start;
}

.menu__link {
	margin: 0;
	display: block;
	color: @menuColor;
	background: @menuBackground;
	font-size: 1rem;
	line-height: @logoHeight;
	padding: 0 unit( @baseLineHeight / 2, rem );
	border: none;
	text-transform: uppercase;
}

@media screen and (min-width: 300px) {
	.menu__link {
		height: @logoHeight;
	}
}

.menu__link_active {
	border: 2px @menuHoverBackground solid;
}

.menu__link_active::before {
	display: none;
}

.menu__link:hover, .menu__link:focus {
	color: @menuHoverColor;
	background: @menuHoverBackground;
}

.content {
	min-height: unit( @baseLineHeight * 4, rem );
	padding: 0 unit( @baseLineHeight / 2, rem ) unit( @baseLineHeight, rem ) unit( @baseLineHeight / 2, rem );
	outline: none;
}
.article__title {
	font-size: @h1Size;
	margin-top: unit( @baseLineHeight, rem );
	color: @baseColor;
	text-shadow: @articleTitleShadow;
}
.footer {
	color: @boxTextColor;
	padding: unit( @baseLineHeight / 3, rem );
	text-align: center;
	line-height: @baseLineHeight * 2;
	border-radius: 0;
	border-top: 1px solid @contentBorderColor;
}

.footer__link {
	padding: 0;
	border: none;
	line-height: 1;
	text-decoration: underline;
}


/**********************************************
Accessibility
**********************************************/
.sr-only {
	position: absolute;
	clip: rect(0,0,0,0);
	height: 1px;
	width: 1px;
	padding: 0;
	border: 0;
	margin: -1px;
	white-space: normal;
}
.sr-only:focus {
	clip: auto;
	z-index: 10;
	width: auto;
	height: auto;
	white-space: inherit;
}

.skip-link {
	top: 0;
	left: 0;
	background: #fff;
	color: #000;
	font-size: 2rem;
	line-height: 2rem;
	padding: 0 1rem;
}
.skip-link:hover, .skip-link:focus {
	color: #000;
}
