/**********************************************
Contact
**********************************************/
@import "general.less";

/**********************************************
Contact
**********************************************/
.contact:after {
	content: '';
	clear: both;
	display: block;
}
.contact__method, .contact__item {
	display: inline-block;
	height: unit( @baseLineHeight * 2, rem );
	line-height: @baseLineHeight;
	list-style: none;
	float: left;
}

.contact__item {
	vertical-align: middle;
	margin-right: 1rem;
}

.contact__link {
	text-decoration: underline;
	line-height: unit( @baseLineHeight * 2, rem );
	padding: 0;
	border: none;
}
.contact__link:hover, .contact__link:focus {
	text-decoration: none;
}
.contact__method {
	height: unit( @baseLineHeight * 2, rem );
	width: unit( @baseLineHeight * 2, rem );
	margin-bottom: unit( @baseLineHeight, rem );
	clear: left;
	margin-left: 0;
}

@media screen and (min-width: 641px) {
	.contact__method {
		clear: none;
	}
}

.contact__icon {
  display: inline-block;
  width: unit( @baseLineHeight * 2, rem );
  height: unit( @baseLineHeight * 2, rem );
  fill: @baseColor;
}
