/**********************************************
Contact
**********************************************/
@import "general.less";

/**********************************************
Contact
**********************************************/
.contact__method, .contact__item {
	display: inline-block;
	height: unit( @baseLineHeight * 2, rem );
	line-height: @baseLineHeight;
	list-style: none;
}
.contact__item {
	vertical-align: top;
	margin-right: unit( @baseLineHeight / 2, rem );
}
.contact__link {
	color: @pageBackgroundColor;
	text-decoration: none;
	line-height: @baseLineHeight;
	padding: 0;
	border: none;
}
.contact__link:hover, .contact__link:focus {
	color: darken( @pageBackgroundColor, 10% );
}
.contact__method {
	height: @contactIconsBaseWidth;
	width: @contactIconsBaseHeight;
	background: url(@contactIconsSpriteURL);
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.contact__method_facebook {
	background-position: @contactIconsFBPos;
	width: @contactIconsFBWidth;
	height: @contactIconsFBHeight;
}
.contact__method_skype {
	background-position: @contactIconsSkypePos;
	width: @contactIconsSkypeWidth;
	height: @contactIconsSkypeHeight;
}
.contact__method_gg {
	background-position: @contactIconsGGPos;
	width: @contactIconsGGWidth;
	height: @contactIconsGGHeight;
}
.contact__method_mail {
	background-position: @contactIconsMailPos;
	width: @contactIconsMailWidth;
	height: @contactIconsMailHeight;
}

@media all and (max-width: 580px) {
	.contact__method, .contact__item {
		float: left;
	}
	.contact__method {
		clear: left;
		margin-left: 0;
	}
	.contact:after {
		content: '';
		clear: both;
		display: block;
	}
}
