/**********************************************
About
**********************************************/
@import "general.less";

/**********************************************
About me
**********************************************/
.tooltip {
	position: relative;
	font-size: 0;
	display: inline-block;

}
.tooltip__text, .tooltip__elem {
	font-size: 1rem;
}
.tooltip__elem {
	display: none;
	background-color: @tooltipBackgroundStatic;
	background: @tooltipBackground;
	border-radius: @baseBorderRadius;
	z-index: 1000;
	position: absolute;
	top: -9999px;
	left: -9999px;
	overflow: hidden;
	opacity: 0;
	/*Transitions!!!*/
	transition: opacity 0.5s ease-in-out;
	padding: unit( @baseLineHeight / 2, rem );
	padding-bottom: unit( @baseLineHeight, rem );
	min-width: unit( @baseLineHeight * 3, rem );
}
@media screen and (min-width: 769px) {
	.tooltip__elem {
		display: block;
	}
}
.tooltip:hover .tooltip__elem, .tooltip:focus .tooltip__elem {
	width: auto;
	top: unit( @baseLineHeight, rem );
	left: unit( @baseLineHeight / 3, rem );
	opacity: 1;
}
.tooltip__image {
	display: block;
	max-width: none;
	max-height: 300px;
	margin: 0 auto;
}
.tooltip__description {
	display: block;
	text-align: center;
	font-size: .8rem;
}
