/**********************************************
Projects
**********************************************/
@import "general.less";

/**********************************************
Projects
**********************************************/
.project {
	overflow: hidden;
	background: url(/images/custom/hr2.png) no-repeat center bottom;
	margin-top: 20px;
	padding-bottom: 20px;
}
.project:first-of-type {
	margin-top: 0;
}
.project:last-of-type {
	background: none;
	padding-bottom: 0;
}
.project__screenshot {
	padding-top: 0;
	margin-top: 0;
}
.project__screenshot, .project__description, .project__features, .project__action {
	float: left;
}
.project__description p {
	font-weight: bold;
	clear: both;
}
.project__features__feature {
	list-style: none;
	background: url(/images/custom/feature.png) no-repeat center left;
	padding-left: 25px;
}
.project__action {
	clear: both;
}
.project__screenshot__zoom {
	border: none;
	padding: 0;
	opacity: 1;
}

.project__screenshot__zoom:hover, .project__screenshot__zoom:focus {
	opacity: .8;
}
/**********************************************
Lightbox :D
**********************************************/
.zoomer {
	position: fixed;
	z-index: 900;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.7);
	display: none;
	cursor: pointer;
}
.zoomer-visible {
	display: block;
}
.zoomer__image {
	display: block;
	max-width: 90%;
	max-height: 90%;
	margin: 0 auto;
	z-index: 1000;
}
