/**********************************************
Projects
**********************************************/
@import "general.less";

/**********************************************
Projects
**********************************************/
.project {
	overflow: hidden;
	background: url(/images/custom/hr2.png) no-repeat center bottom;
	margin-top: unit( @baseLineHeight, rem );
	padding-bottom: unit( @baseLineHeight, rem );
}
@media screen and (min-width: 980px) {
	.project {
		display: table;
	}
}
.project:first-of-type {
	margin-top: 0;
}
.project:last-of-type {
	background: none;
	padding-bottom: 0;
}
.project__screenshot {
	padding-top: 0;
	margin-top: 0;
}
.project__name {
	margin-top: 0;
}
.project__description {
	text-align: center;
}
@media screen and (min-width: 980px) {
	.project__screenshot, .project__description {
		display: table-cell;
		vertical-align: top;
		width: 50%;
	}
	.project__description {
		padding-left: 1rem;
		text-align: justify;
	}
}

.project__features {
	margin-left: 0;
	margin-bottom: unit( @baseLineHeight, rem );
	display: inline-block;
}
.project__description p {
	font-weight: bold;
	clear: both;
}
.features__feature {
	list-style: none;
	background: url(@featuresImageURL) no-repeat center left;
	padding-left: @featuresImageWidth;
}
.project__action {
	clear: both;
}
.screenshot__zoom {
	border: none;
	padding: 0;
	opacity: 1;
}

.screenshot__zoom:hover, .screenshot__zoom:focus {
	opacity: .8;
}
/**********************************************
Lightbox :D
**********************************************/
.zoomer {
	position: fixed;
	z-index: 900;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.7);
	display: none;
	cursor: pointer;
}
.zoomer_visible {
	display: block;
}
.zoomer__image {
	display: block;
	max-width: 90%;
	max-height: 90%;
	margin: 0 auto;
	z-index: 1000;
}
