@baseLineHeight: 1.5;
@baseColor: #fff;
@baseBorderRadius: 10px;
/* https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/ */
@baseFontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
"Droid Sans", "Helvetica Neue", sans-serif;

@pageBackgroundColor: #454D58;
@pageBackground: @pageBackgroundColor url(/images/custom/bg.png) repeat-x;

@bodyWidth: 60rem;

@linkColor: @baseColor;

/* Headings */
@h1Size: 1.875rem;
@h2Size: 1.875rem;
@h3Size: 1.5rem;
@h4Size: 1.125rem;
@h5Size: 1rem;
@h6Size: 0.875rem;

/* Borders */
@abbrBottom: 1px #ccc dotted;

/* hr */
@hrWidth: 1px;
@hrColor: #eee;


/* buttons */
@buttonColor: #000;
@buttonShadow: #b6bbc5 1px 1px 1px;
@buttonBackgroundStatic: rgb( 236, 237, 240 );
@buttonBackground: linear-gradient( to bottom, rgba( 236, 237, 240, 1 ) 0%, rgba( 228, 230, 233, 1 ) 2%, rgba( 213, 216, 220, 1 ) 20%, rgba( 202, 205, 210, 1 ) 29%, rgba( 135, 141, 150, 1 ) 78%, rgba( 121, 128, 138, 1 ) 90%, rgba( 113, 121, 131, 1 ) 100% );
@buttonHoverBackgroundStatic: rgb( 236, 237, 240 );
@buttonHoverBackground: linear-gradient( to bottom, rgba( 111, 119, 129, 1 ) 0%, rgba( 121, 128, 138, 1 ) 13%, rgba( 135, 141, 150, 1 ) 25%, rgba( 202, 205, 210, 1 ) 75%, rgba( 213, 216, 220, 1 ) 85%, rgba( 226, 228, 232, 1 ) 100% );

/* logo */
@logoHeight: 96px;
@logoWidth: 96px;
@logoURL: '/images/custom/logo2.png';

/* nav + menu */
@navFontSize: 1rem;
@menuColor: @baseColor;
@menuBackground: transparent;
@menuHoverColor: @pageBackgroundColor;
@menuHoverBackground: @baseColor;

/* article */
@articleTitleShadow: @pageBackgroundColor 0px -1px 1px;

/* footer/box */
@boxTextColor: #000;
@footerBackgroundStatic: rgb( 254, 255, 255 );
@footerBackground: linear-gradient( to bottom, rgba( 254, 255, 255, 1 ) 0%, rgba( 252, 252, 252, 1 ) 5%, rgba( 253, 253, 253, 1 ) 9%, rgba( 251, 253, 252, 1 ) 10%, rgba( 249, 250, 249, 1 ) 11%, rgba( 253, 253, 253, 1 ) 12%, rgba( 251, 253, 250, 1 ) 12%, rgba( 249, 250, 252, 1 ) 17%, rgba( 248, 250, 247, 1 ) 19%, rgba( 251, 253, 250, 1 ) 20%, rgba( 249, 250, 250, 1 ) 21%, rgba( 247, 249, 246, 1 ) 22%, rgba( 248, 249, 251, 1 ) 22%, rgba( 248, 249, 251, 1 ) 24%, rgba( 248, 250, 247, 1 ) 24%, rgba( 249, 250, 249, 1 ) 25%, rgba( 246, 248, 247, 1 ) 25%, rgba( 247, 249, 246, 1 ) 25%, rgba( 247, 248, 250, 1 ) 26%, rgba( 246, 247, 249, 1 ) 27%, rgba( 247, 249, 246, 1 ) 28%, rgba( 244, 245, 247, 1 ) 29%, rgba( 246, 247, 249, 1 ) 29%, rgba( 244, 245, 247, 1 ) 30%, rgba( 247, 248, 250, 1 ) 31%, rgba( 245, 246, 246, 1 ) 32%, rgba( 242, 243, 245, 1 ) 43%, rgba( 240, 241, 243, 1 ) 44%, rgba( 241, 242, 244, 1 ) 47%, rgba( 238, 239, 241, 1 ) 50%, rgba( 237, 238, 240, 1 ) 60%, rgba( 235, 236, 238, 1 ) 60%, rgba( 234, 236, 235, 1 ) 68%, rgba( 232, 233, 235, 1 ) 70%, rgba( 234, 235, 237, 1 ) 71%, rgba( 230, 232, 236, 1 ) 71%, rgba( 234, 236, 235, 1 ) 72%, rgba( 232, 233, 235, 1 ) 73%, rgba( 232, 233, 235, 1 ) 75%, rgba( 229, 230, 234, 1 ) 76%, rgba( 228, 234, 234, 1 ) 76%, rgba( 228, 232, 235, 1 ) 77%, rgba( 232, 233, 235, 1 ) 77%, rgba( 227, 232, 235, 1 ) 79%, rgba( 226, 232, 232, 1 ) 80%, rgba( 230, 231, 235, 1 ) 82%, rgba( 226, 231, 234, 1 ) 83%, rgba( 229, 230, 234, 1 ) 86%, rgba( 225, 230, 233, 1 ) 87%, rgba( 225, 230, 233, 1 ) 89%, rgba( 229, 230, 234, 1 ) 90%, rgba( 224, 228, 232, 1 ) 90%, rgba( 224, 228, 232, 1 ) 92%, rgba( 226, 232, 232, 1 ) 93%, rgba( 222, 227, 230, 1 ) 93%, rgba( 225, 230, 233, 1 ) 94%, rgba( 226, 227, 231, 1 ) 94%, rgba( 225, 230, 233, 1 ) 95%, rgba( 224, 228, 232, 1 ) 96%, rgba( 226, 232, 232, 1 ) 97%, rgba( 222, 227, 230, 1 ) 97%, rgba( 225, 230, 233, 1 ) 98%, rgba( 231, 236, 239, 1 ) 98%, rgba( 228, 234, 234, 1 ) 99%, rgba( 226, 227, 231, 1 ) 99%, rgba( 220, 225, 228, 1 ) 100%, rgba( 222, 227, 230, 1 ) 100% );

/* contact */
@contactIconsBaseWidth: 32px;
@contactIconsBaseHeight: 32px;
@contactIconsSpriteURL: '/images/custom/contact.png';
@contactIconsFBWidth: @contactIconsBaseWidth;
@contactIconsFBHeight: @contactIconsBaseHeight;
@contactIconsFBPos: 0 0;
@contactIconsSkypeWidth: @contactIconsBaseWidth;
@contactIconsSkypeHeight: @contactIconsBaseHeight;
@contactIconsSkypePos: -37px 0;
@contactIconsGGWidth: @contactIconsBaseWidth;
@contactIconsGGHeight: @contactIconsBaseHeight;
@contactIconsGGPos: -74px 0;
@contactIconsMailWidth: 45px;
@contactIconsMailHeight: @contactIconsBaseHeight;
@contactIconsMailPos: -111px 0;

/* tooltips */
@tooltipBackgroundStatic: rgb( 206, 220, 231 );
@tooltipBackground: linear-gradient( to bottom, rgba( 206, 220, 231, 1 ) 0%, rgba( 89, 106, 114, 1 ) 100% );

/* project features */
@featuresImageURL: '/images/custom/feature.png';
@featuresImageWidth: 25px;
