<article class="article">
	<h2 class="article__title">Cookies</h2>
	<p>Nawet tak&nbsp;prymitywna strona jak&nbsp;moja domowa, korzysta z&nbsp;<a href="//pl.wikipedia.org/wiki/Cookie">plików cookie</a>. Służą one głównie do&nbsp;zbierania danych statystycznych (wykorzystywane&nbsp;są przez&nbsp;skrypt statystyk Google Analytics).</p>
	<p>Oczywiście możesz nie&nbsp;chcieć moich ciasteczek. W&nbsp;tym&nbsp;celu poczytaj jak&nbsp;się ich&nbsp;pozbyć w&nbsp;zależności od&nbsp;przeglądarki:</p>
	<ul>
		<li><a href="http://www.opera.com/help/tutorials/security/privacy" hreflang="en">Opera</a></li>
		<li><a href="https://support.google.com/chrome/answer/95647?hl=pl">Google Chrome</a></li>
		<li><a href="https://support.apple.com/kb/PH19214?locale=pl_PL">Safari</a></li>
		<li><a href="https://support.mozilla.org/pl/kb/ciasteczka">Firefox</a></li>
		<li><a href="http://windows.microsoft.com/pl-pl/internet-explorer/delete-manage-cookies#ie=ie-11">Internet Explorer</a></li>
		<li><a href="http://www.laptopmag.com/articles/disable-enable-cookies-edge-browser" hreflang="en">Edge</a></li>
	</ul>
</article>
