<article>
	<h2>Hej!</h2>
	<p>Jeśli tu&nbsp;jesteś, to&nbsp;znaczy, że&nbsp;nieopatrznie kliknąłeś w&nbsp;link znajdujący&nbsp;się w&nbsp;moim podpisie na&nbsp;<a href="http://forumweb.pl" hreflang="pl">ForumWeb.pl</a> lub&nbsp;<a href="http://nostatic.pl" hreflang="pl">NoStatic.pl</a> czy&nbsp;nawet <a href="http://forum.php.pl" hreflang="pl">Forum.PHP.pl</a>. Cóż, zdarza&nbsp;się. Jednak jeśli już&nbsp;tu&nbsp;jesteś, zawsze możesz skorzystać z&nbsp;menu znajdującego&nbsp;się powyżej i&nbsp;dowiedzieć&nbsp;się czegoś więcej o&nbsp;mojej osobie&nbsp;<span aria-hidden="true">:)</span></p>
	<p>Jeśli Ci&nbsp;się jednak spieszy, kliknij przycisk poniżej</p>
	<a href="kontakt.html" class="button" itemprop="significantLink">Spieszy&nbsp;mi&nbsp;się!</a>
	<p>I&nbsp;nie&nbsp;narzekaj na&nbsp;brzydotę. Reprezentuję <a href="https://pl.wikipedia.org/wiki/Turpizm">turpizm</a>.</p>
</article>
<!--[if lt IE 11]>
	<h2>Czekaj, czekaj!</h2>
	<p>Używasz starej wersji przeglądarki Internet Explorer. Z&nbsp;tego też powodu ta&nbsp;strona najprawdopodobniej nie&nbsp;działa prawidłowo (w&nbsp;końcu pisana jest z&nbsp;wykorzystaniem najnowocześniejszych HTML-owych i&nbsp;CSS-owych wodotrysków). <a href="http://windows.microsoft.com/pl-PL/internet-explorer/downloads/ie">Zaktualizuj ją&nbsp;lepiej.</a></p>
<![endif]-->
