<div vocab="http://schema.org" typeof="Person">
	<meta property="image" content="/images/custom/logo.svg">
	<h1 property="name">Comandeer</h1>
	<p>Proud <b property="jobTitle">Senior Software Engineer / Web Standards Expert</b> in <span property="worksFor" typeof="Organization"><a href="https://cksource.com"property="url"><span property="name">CKSource</span></a></span>.</p>
	<address class="contact-methods">
		<ul class="contact-methods__list">
			<li property="contactPoint" typeof="ContactPoint"><a href="mailto:comandeer@comandeer.pl" property="email"><span property="contactType">Email</span></a></li>
			<li property="contactPoint" typeof="ContactPoint"><a href="https://github.com/Comandeer" property="url" rel="noreferrer noopener"><span property="contactType">GitHub</span></a>
			</li>
			<li property="contactPoint" typeof="ContactPoint"><a href="https://blog.comandeer.pl" property="url" rel="noreferrer noopener"><span property="contactType">Blog</span></a>
			</li>
			<li property="contactPoint" typeof="ContactPoint"><a href="https://www.webkrytyk.pl/" property="url" rel="noreferrer noopener"><span property="contactType">WebKrytyk</span></a>
			</li>
		</ul>
	</address>
</div>
