<article>
	<h2>Złap mnie!</h2>
	<div class="box" id="metody">
		<h3>Gdzie mnie możesz złapać?</h3>
		<address itemscope itemtype="http://schema.org/ContactPoint">
			<dl class="contact">
				<dt class="facebook" title="Facebook">Facebook</dt> <dd><a href="//facebook.com/Comandeer" itemprop="url">Comandeer</a></dd>
				<!--<dt class="skype" title="Skype">Skype</dt> <dd><a href="callto:comandeerve" itemprop="telephone">comandeerve</a></dd>-->
				<dt class="gg" title="Gadu-Gadu">Gadu-Gadu</dt> <dd><a href="gg:35296889" itemprop="url">35296889</a></dd>
				<dt class="mail" title="E-mail">E-mail</dt> <dd><a href="mailto:comandeer@comandeer.pl" itemprop="email">comandeer@comandeer.pl</a></dd>	
			</dl>
		</address>
		<!--<p>Jeśli nie&nbsp;jesteś botem i&nbsp;nadal chcesz&nbsp;mi wysłać maila, to&nbsp;weź sobie mój nick, dorzuć do&nbsp;niego małpkę i&nbsp;do&nbsp;tego jeszcze nazwę tej domeny (na&nbsp;pewno sobie poradzisz). Nie&nbsp;zapomnij o kropkach!</p>-->
	</div>
	<h3>Leniwy?</h3>
	<p>Formularza nie&nbsp;ma, ale&nbsp;skrypt reaguje na&nbsp;żądania typu POST. Dokumentację otrzymasz kontaktując&nbsp;się ze&nbsp;mną w&nbsp;jeden z&nbsp;powyższych sposobów.</p>
</article>
