<article class="article">
	<h2 class="article__title">Złap mnie!</h2>
	<div class="box" id="metody">
		<h3 class="box__title">Gdzie mnie możesz złapać?</h3>
		<address itemscope itemtype="http://schema.org/ContactPoint">
			<dl class="contact">
				<dt class="contact__method contact__method-facebook" title="Facebook">Facebook</dt>
					<dd class="contact__item"><a href="//facebook.com/Comandeer" itemprop="url" class="contact__item__link">Comandeer</a></dd>
				<dt class="contact__method contact__method-skype" title="Skype">Skype</dt>
					<dd class="contact__item"><a href="callto:comandeerve" itemprop="telephone" class="contact__item__link">comandeerve</a></dd>
				<dt class="contact__method contact__method-gg" title="Gadu-Gadu">Gadu-Gadu</dt>
					<dd class="contact__item"><a href="gg:35296889" itemprop="url" class="contact__item__link">35296889</a></dd>
				<dt class="contact__method contact__method-mail" title="E-mail">E-mail</dt>
					<dd class="contact__item"><a href="mailto:comandeer@comandeer.pl" itemprop="email" class="contact__item__link">comandeer@comandeer.pl</a></dd>	
			</dl>
		</address>
	</div>
</article>
