<!DOCTYPE html>
<!-- Tak, HTML 5. A czemu by nie? >prowokacja< -->
	<html lang="pl" dir="ltr" itemscope itemtype="https://schema.org/WebPage">
		<head>
			<meta charset="UTF-8">
			<script>{JS:"loader"}</script>
			<link rel="author" href="https://plus.google.com/+TomaszJakut">
			<link rel="icon" href="/images/tooltips/comandeer.jpg">
			<link rel="sitemap" href="{URI}sitemap.xml">
			<meta itemprop="image" content="{URI}images/tooltips/comandeer.jpg">
			<meta name="author" content="Comandeer">
			<meta itemprop="description" content="{DESCRIPTION}">
			<meta name="viewport" content="width=device-width"><!--a jednak będzie responsive :P-->
			<!--Facebook shit...-->
			<meta property="og:site_name" content="Comandeer's Homepage">
			<meta property="og:url" content="{URI}{SELF}">
			<meta property="og:title" content="{TITLE}{TITLESEPARATOR}Comandeer's Homepage">
			<meta property="og:image" content="{URI}images/tooltips/comandeer.jpg">
			<!--end of shit-->
			<title itemprop="name">{TITLE}{TITLESEPARATOR}Comandeer's Homepage</title>
			<!--[if lt IE 9]>
				<script src="/js/html5.js"></script>
			<![endif]-->
			<link rel="stylesheet" href="/{CSSLINK}" integrity="{CSSSRI}">
		</head>
		<body>
			<a href="#content" class="accessible skip-link">Przewiń do&nbsp;treści&nbsp;<span aria-hidden="true">⇩</span></a>
			<header id="header" class="header" itemscope itemtype="http://schema.org/WPHeader">
				<h1 class="header__logo logo">
					<a href="/" class="logo__link" title="Skocz na główną" lang="en" hreflang="pl">
						<span class="logo__hover-text" aria-hidden="true">[0/\/\ΛΠ|)1®</span>
						<span class="logo__text">Comandeer</span>'s Homepage
					</a>
				</h1>
				<a class="header__nav-toggler button" href="#menu">Menu</a>
				<nav class="header__nav nav" id="menu" itemscope itemtype="https://schema.org/SiteNavigationElement">
					<h2 class="nav__title" itemprop="name">Menu</h2>
					<ul class="nav__menu menu">
						<li class="menu__item"><a href="/o-mnie.html" class="menu__link">O&nbsp;mnie</a></li>
						<li class="menu__item"><a href="/projekty.html" class="menu__link">Projekty</a></li>
						<li class="menu__item"><a href="/kontakt.html" class="menu__link">Kontakt</a></li>
					</ul>
				</nav>
			</header>
			<main id="content" class="content" itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WebPageElement" tabindex="-1">
				{CONTENT}
			</main>
			<footer id="footer" class="footer" itemscope itemtype="https://schema.org/WPFooter">
				Copyright © <a href="{URI}" rel="author" class="footer__link">Comandeer</a>. Oryginalny szablon by&nbsp;<a href="http://damek.eu/creativebarons-darmowy-szablon-html" class="footer__link" rel="noopener noreferrer">Damek</a>. Ta&nbsp;strona <a href="/cookies.html" class="footer__link">korzysta z&nbsp;cookies</a>.
			</footer>
		</body>
	</html>
