<section class="article">
	<h2 class="article__title">Moje projekty</h2>

	<p>Na&nbsp;tej&nbsp;stronie przedstawiam jedynie najważniejsze moje potworki. Jeśli chcesz zobaczyć przeważającą większość rzeczy, do&nbsp;których kiedyś przyłożyłem rękę, zapraszam na&nbsp;mój&nbsp;<a href="https://github.com/Comandeer" hreflang="en" lang="en" rel="noopener noreferrer">GitHub</a>.</p>

	<article class="project article" id="epyx" itemscope itemtype="https://schema.org/WebApplication">
		<figure class="project__screenshot screenshot">
			<a href="/images/projects/epyx-big.png" class="screenshot__zoom" title="Kliknij, aby powiększyć screenshot"><img src="/images/projects/epyx.png" aria-labelledby="epyx-caption" alt="screenshot" width="460" height="266" itemprop="screenshot"></a>
			<figcaption id="epyx-caption">EPYX – kod&nbsp;+&nbsp;"GUI"</figcaption>
		</figure>
		<div class="project__description" itemprop="description">
			<h3 class="project__name article__title" itemprop="name">EPYX</h3>
			<p>Projekt webowego komunikatora internetowego.</p>
			<ul class="project__features features">
				<li class="features__feature"><a href="https://nodejs.org" hreflang="en" rel="noopener noreferrer">Node.js</a>&nbsp;+&nbsp;<a href="https://www.mysql.com" hreflang="en" rel="noopener noreferrer"><abbr title="My Simple Query Language" lang="en">MySQL</abbr></a></li>
				<li class="features__feature"><a href="https://www.chromium.org/spdy" rel="noopener noreferrer">SPDY</a></li>
				<li class="features__feature"><a href="https://blogs.oracle.com/slc/entry/introduction_to_bayeux_protoco" hreflang="en" rel="noopener noreferrer">Protokół Bayeux</a></li>
				<li class="features__feature">Słynna biblioteka <a href="https://github.com/felixge/node-mysql" hreflang="en" rel="noopener noreferrer">node-mysql</a></li>
				<li class="features__feature">Biblioteka <a href="http://faye.jcoglan.com" hreflang="en" rel="noopener noreferrer">Faye</a></li>
				<li class="features__feature"><a href="http://www.webrtc.org" hreflang="en" rel="noopener noreferrer">Wideorozmowy</a></li>
				<li class="features__feature">Przesył plików</li>
			</ul>
			<p>Projekt (prawie) zawieszony.</p>
			<p class="project__action">
				<span class="project__action button button_disabled">Offline</span>
			</p>
		</div>
	</article>

	<article class="project article" id="gui" itemscope itemtype="https://schema.org/WebApplication">
		<figure class="project__screenshot screenshot">
			<img src="/images/projects/gui.png" width="215" height="382" aria-labelledby="gui-caption" alt="screenshot" itemprop="screenshot">
			<figcaption id="gui-caption">Część GUI – okienka aplikacji</figcaption>
		</figure>
		<div class="project__description" itemprop="description">
			<h3 class="project__name article__title" itemprop="name" lang="en">GUI</h3>
			<p>Projekt <a href="https://pl.wikipedia.org/wiki/GUI" rel="noopener noreferrer"><abbr title="Graphical User Interface" lang="en">GUI</abbr></a> aplikacji webowej</p>
			<ul class="project__features features">
				<li class="features__feature"><a href="https://jquery.com" hreflang="en" rel="noopener noreferrer">jQuery</a> +&nbsp;<a href="https://jqueryui.com" hreflang="en" rel="noopener noreferrer">jQuery&nbsp;UI</a></li>
				<li class="features__feature">Okienka aplikacji</li>
				<li class="features__feature">Duża możliwość modyfikowania wyglądu aplikacji</li>
				<li class="features__feature">Okienka dokowalne i&nbsp;zależne od rodziców</li>
				<li class="features__feature">Menu rozwijane</li>
				<li class="features__feature">Ma&nbsp;swoje <a href="https://github.com/Comandeer/gui" rel="noopener noreferrer">repo</a></li>
			</ul>
			<p class="project__action">
				<span class="button button_disabled">Offline</span>
			</p>
		</div>
	</article>

	<article class="project article" id="vekit" itemscope itemtype="https://schema.org/WebApplication">
		<figure class="project__screenshot screenshot">
			<a href="/images/projects/vekit-big.jpg" class="screenshot__zoom" title="Kliknij, aby powiększyć"><img src="/images/projects/vekit.jpg" aria-labelledby="vekit-caption" alt="screenshot" width="460" height="245" itemprop="screenshot"></a>
			<figcaption id="vekit-caption">Strona wygenerowana przez&nbsp;VE&nbsp;Kit</figcaption>
		</figure>
		<div class="project__description" itemprop="description">
			<h3 class="project__name article__title" itemprop="name">VE&nbsp;Kit</h3>
			<p>VE&nbsp;Kit, czyli&nbsp;JS-owy boilerplate.</p>
			<ul class="project__features features">
				<li class="features__feature">Potężny framework&nbsp;<a href="http://w3.org/Style/CSS" hreflang="en" rel="noopener noreferrer"><abbr title="Cascading Style Sheets">CSS</abbr></a> oparty na&nbsp;<a href="https://getbootstrap.com" hreflang="en" rel="noopener noreferrer">Bootstrap</a></li>
				<li class="features__feature"><a href="http://requirejs.org" hreflang="en" rel="noopener noreferrer"><abbr title="Asynchronous Module Definition" lang="en">AMD</abbr></a> w&nbsp;akcji</li>
				<li class="features__feature">Paczka z <a href="https://jquery.com" hreflang="en" rel="noopener noreferrer">jQuery</a> i <a href="https://jqueryui.com" hreflang="en" rel="noopener noreferrer">jQuery UI</a> w&nbsp;wersji dla&nbsp;AMD</li>
				<li class="features__feature"><a href="https://github.com/strongloop/express" hreflang="en" rel="noopener noreferrer">Express.js</a> jako podstawa frameworka <a href="https://en.wikipedia.org/wiki/Model_View_Controller" hreflang="en" rel="noopener noreferrer"><abbr title="Model View Controller" lang="en">MVC</abbr></a> (czysta teoria)</li>
				<li class="features__feature">Idea współdzielonych przez&nbsp;serwer i&nbsp;klienta bibliotek</li>
				<li class="features__feature">Wbudowane wsparcie dla&nbsp;MySQL</li>
			</ul>
			<p>Projekt nierozwijany, acz&nbsp;działający.</p>
			<p class="project__action">
				<a href="https://github.com/Comandeer/VEKit" class="button" itemprop="downloadUrl" rel="noopener noreferrer">Repo na&nbsp;<abbr title="GitHub.com">GH</abbr></a>
			</p>
		</div>
	</article>

	<article class="project article" id="tutorials" itemscope itemtype="https://schema.org/WebPage">
		<figure class="project__screenshot screenshot">
			<a href="/images/projects/tutorials-big.png" class="screenshot__zoom" title="Kliknij, aby powiększyć"><img src="/images/projects/tutorials.png" aria-labelledby="tutorials-caption" alt="screenshot" width="460" height="345" itemprop="image"></a>
			<figcaption id="tutorials-caption">Lista tutoriali</figcaption>
		</figure>
		<div class="project__description" itemprop="description">
			<h3 class="project__name article__title" itemprop="name">Tutorials</h3>
			<p>Moje artykuły o&nbsp;webmasterce.</p>
			<ul class="project__features features">
				<li class="features__feature">Zbiór wszystkich tutoriali, które napisałem na&nbsp;potrzeby forum</li>
				<li class="features__feature">Całość to&nbsp;dokładny port treści z&nbsp;forów <a href="http://phpbb.com" hreflang="en" rel="noopener noreferrer">phpBB</a> i&nbsp;<a href="http://mybb.com" hreflang="en" rel="noopener noreferrer">MyBB</a></li>
				<li class="features__feature">Treść jest generowana przez&nbsp;<a href="https://github.com/Comandeer/Site-builder" rel="noopener noreferrer">moje cudeńko</a></li>
				<li class="features__feature">Kod <a href="http://456bereastreet.com/archive/200711/posh_plain_old_semantic_html" hreflang="en" rel="noopener noreferrer"><abbr title="Plain Old Semantic HTML" lang="en">POSH</abbr></a></li>
				<li class="features__feature">System ma&nbsp;dość ładny&nbsp;<a href="https://developer.mozilla.org/pl/docs/JavaScript" rel="noopener noreferrer"><abbr title="JavaScript" lang="en">JS</abbr></a></li>
				<li class="features__feature">Tutoriale są <a href="https://github.com/Comandeer/comandeers-tutorials" rel="noopener noreferrer">całkowicie <abbr title="Open Source" lang="en">OS</abbr></a>
			</ul>
			<p class="project__action">
				<a href="http://tutorials.comandeer.pl" class="button" itemprop="url" rel="noopener noreferrer">Obadaj</a>
			</p>
		</div>
	</article>

	<article class="project article" id="dgui" itemscope itemtype="https://schema.org/WebApplication">
		<figure class="project__screenshot screenshot">
			<a href="/images/projects/dgui-big.png" class="screenshot__zoom" title="Kliknij, aby powiększyć"><img src="/images/projects/dgui.png" aria-labelledby="dgui-caption" alt="screenshot" width="460" height="238" itemprop="screenshot"></a>
			<figcaption id="dgui-caption">Przykładowa strona komponentu</figcaption>
		</figure>
		<div class="project__description" itemprop="description">
			<h3 class="project__name article__title" itemprop="name">d<abbr title="Graphical User Interface" lang="en">GUI</abbr></h3>
			<p>Deklaratywne GUI</p>
			<ul class="project__features features">
				<li class="features__feature">To&nbsp;zbiór komponentów dla&nbsp;aplikacji&nbsp;WWW</li>
				<li class="features__feature">Inspirowany <a href="http://polymer-project.org" hreflang="en" rel="noopener noreferrer">projektem Polymer</a></li>
				<li class="features__feature">Projekt jest całkowicie <a href="https://github.com/dGUIJS" itemprop="downloadUrl" rel="noopener noreferrer"><abbr title="Open Source" lang="en">OS</abbr></a></li>
			</ul>
			<p>Projekt we&nbsp;wczesnej fazie rozwoju.</p>
			<p class="project__action">
				<span class="button button_disabled">Demo w&nbsp;budowie</span>
			</p>
		</div>
	</article>
	<script src="/js/zoom.js" async integrity="{SRI:js/zoom.js}"></script>
</section>
