<section class="projects">	
	<h2>Moje projekty</h2>

	<p>Na&nbsp;tej&nbsp;stronie przedstawiam jedynie najważniejsze moje potworki. Jeśli chcesz zobaczyć przeważającą większość rzeczy, do&nbsp;których kiedyś przyłożyłem rękę, zapraszam na&nbsp;mój&nbsp;<a href="https://github.com/Comandeer" hreflang="en" lang="en">GitHub</a>.</p>

	<article id="epyx" itemscope itemtype="https://schema.org/WebApplication">
		<h3 itemprop="name">EPYX</h3>
		<figure>
			<a href="/images/projects/epyx-big.png" class="zoom" title="Kliknij aby powiększyć"><img src="/images/projects/epyx.png" alt="Kliknij aby powiększyć screenshot" width="460" height="266" itemprop="screenshot"></a>
			<figcaption>EPYX - kod&nbsp;+&nbsp;"GUI"</figcaption>
		</figure>
		<div class="desc" itemprop="description">
			<p>Projekt webowego komunikatora internetowego.</p>
			<ul class="features">
				<li><a href="https://nodejs.org" hreflang="en">Node.js</a>&nbsp;+&nbsp;<a href="https://www.mysql.com" hreflang="en"><abbr title="My Simple Query Language" lang="en">MySQL</abbr></a></li>
				<li><a href="https://www.chromium.org/spdy">SPDY</a></li>
				<li><a href="https://blogs.oracle.com/slc/entry/introduction_to_bayeux_protoco" hreflang="en">Protokół Bayeux</a></li>
				<li>Słynna biblioteka <a href="https://github.com/felixge/node-mysql" hreflang="en">node-mysql</a></li>
				<li>Biblioteka <a href="http://faye.jcoglan.com" hreflang="en">Faye</a></li>
				<li><a href="http://www.webrtc.org" hreflang="en">Wideorozmowy</a></li>
				<li>Przesył plików</li>
			</ul>
			<p>Projekt (prawie) zawieszony.</p>
			<span class="button disabled">Offline</span>
		</div>
	</article>

	<article id="gui" itemscope itemtype="https://schema.org/WebApplication">
		<h3 itemprop="name" lang="en">GUI</h3>
		<figure>
			<img src="/images/projects/gui.png" alt="Screenshot" width="215" height="382" itemprop="screenshot">
			<figcaption>Część GUI - okienka aplikacji</figcaption>
		</figure>
		<div class="desc" itemprop="description">
			<p>Projekt <a href="https://pl.wikipedia.org/wiki/GUI"><abbr title="Graphical User Interface" lang="en">GUI</abbr></a> aplikacji webowej</p>
			<ul class="features">
				<li><a href="https://jquery.com" hreflang="en">jQuery</a> +&nbsp;<a href="https://jqueryui.com" hreflang="en">jQuery&nbsp;UI</a></li>
				<li>Okienka aplikacji</li>
				<li>Duża możliwość modyfikowania wyglądu aplikacji</li>
				<li>Okienka dokowalne i&nbsp;zależne od rodziców</li>
				<li>Menu rozwijane</li>
				<li>Ma&nbsp;swoje <a href="https://github.com/Comandeer/gui">repo</a></li>
			</ul>
			<span class="button disabled">Offline</span>
		</div>
	</article>

	<article id="vekit" itemscope itemtype="https://schema.org/WebApplication">
		<h3 itemprop="name">VE&nbsp;Kit</h3>
		<figure>
			<a href="/images/projects/vekit-big.jpg" class="zoom" title="Kliknij aby powiększyć"><img src="/images/projects/vekit.jpg" alt="Kliknij aby powiększyć screenshot" width="460" height="245" itemprop="screenshot"></a>
			<figcaption>Strona wygenerowana przez&nbsp;VE&nbsp;Kit</figcaption>
		</figure>
		<div class="desc" itemprop="description">
			<p>VE&nbsp;Kit, czyli&nbsp;JS-owy boilerplate.</p>
			<ul class="features">
				<li>Potężny framework&nbsp;<a href="http://w3.org/Style/CSS" hreflang="en"><abbr title="Cascading Style Sheets">CSS</abbr></a> oparty na&nbsp;<a href="https://getbootstrap.com" hreflang="en">Bootstrap</a></li>
				<li><a href="http://requirejs.org" hreflang="en"><abbr title="Asynchronous Module Definition" lang="en">AMD</abbr></a> w&nbsp;akcji</li>
				<li>Paczka z <a href="https://jquery.com" hreflang="en">jQuery</a> i <a href="https://jqueryui.com" hreflang="en">jQuery UI</a> w&nbsp;wersji dla&nbsp;AMD</li>
				<li><a href="https://github.com/strongloop/express" hreflang="en">Express.js</a> jako podstawa frameworka <a href="https://en.wikipedia.org/wiki/Model_View_Controller" hreflang="en"><abbr title="Model View Controller" lang="en">MVC</abbr></a> (czysta teoria)</li>
				<li>Idea współdzielonych przez&nbsp;serwer i&nbsp;klienta bibliotek</li>
				<li>Wbudowane wsparcie dla&nbsp;MySQL</li>
			</ul>
			<p>Projekt nierozwijany, acz&nbsp;działający.</p>
			<a href="https://github.com/Comandeer/VEKit" class="button" itemprop="downloadUrl">Repo na&nbsp;<abbr title="GitHub.com">GH</abbr></a>
		</div>
	</article>

	<article id="tutorials" itemscope itemtype="https://schema.org/WebPage">
		<h3 itemprop="name">Tutorials</h3>
		<figure>
			<a href="/images/projects/tutorials-big.png" class="zoom" title="Kliknij aby powiększyć"><img src="/images/projects/tutorials.png" alt="Kliknij aby powiększyć screenshot" width="460" height="345" itemprop="image"></a>
			<figcaption>Lista tutoriali</figcaption>
		</figure>
		<div class="desc" itemprop="description">
			<p>Moje artykuły o&nbsp;webmasterce.</p>
			<ul class="features">
				<li>Zbiór wszystkich tutoriali, które napisałem na&nbsp;potrzeby forum</li>
				<li>Całość to&nbsp;dokładny port treści z&nbsp;forów <a href="http://phpbb.com" hreflang="en">phpBB</a> i&nbsp;<a href="http://mybb.com" hreflang="en">MyBB</a></li>
				<li>Treść jest generowana przez&nbsp;<a href="https://github.com/Comandeer/Site-builder">moje cudeńko</a></li>
				<li>Kod <a href="http://456bereastreet.com/archive/200711/posh_plain_old_semantic_html" hreflang="en"><abbr title="Plain Old Semantic HTML" lang="en">POSH</abbr></a></li>
				<li>System ma&nbsp;dość ładny&nbsp;<a href="https://developer.mozilla.org/pl/docs/JavaScript"><abbr title="JavaScript" lang="en">JS</abbr></a></li>
				<li>Tutoriale są <a href="https://github.com/Comandeer/comandeers-tutorials">całkowicie <abbr title="Open Source" lang="en">OS</abbr></a>
			</ul>
			<a href="http://tutorials.comandeer.pl" class="button" itemprop="url">Obadaj</a>
		</div>
	</article>	

	<article id="dgui" itemscope itemtype="https://schema.org/WebApplication">
		<h3 itemprop="name">d<abbr title="Graphical User Interface" lang="en">GUI</abbr></h3>
		<figure>
			<a href="/images/projects/dgui-big.png" class="zoom" title="Kliknij aby powiększyć"><img src="/images/projects/dgui.png" alt="Kliknij aby powiększyć screenshot" width="460" height="238" itemprop="screenshot"></a>
			<figcaption>Przykładowa strona komponentu</figcaption>
		</figure>
		<div class="desc" itemprop="description">
			<p>Deklaratywne GUI</p>
			<ul class="features">
				<li>To&nbsp;zbiór komponentów dla&nbsp;aplikacji&nbsp;WWW</li>
				<li>Inspirowany <a href="http://polymer-project.org" hreflang="en">projektem Polymer</a></li>
				<li>Projekt jest całkowicie <a href="https://github.com/dGUIJS" itemprop="downloadUrl"><abbr title="Open Source" lang="en">OS</abbr></a></li>
			</ul>
			<p>Projekt we&nbsp;wczesnej fazie rozwoju.</p>
			<!--<a href="https://dguijs.github.io" class="button" itemprop="url">Obadaj</a>-->
			<span class="button offline">Demo w&nbsp;budowie</span>
		</div>
	</article>
	<!--<script>{JS:"zoom"}</script>-->
	<script src="/js/zoom.js" async></script>
</section>
