---
import { config } from '../config.ts'
---

<!DOCTYPE html>
	<html lang="en" dir="ltr">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<link rel="author" href={ config.url }>
			<meta name="author" content={ config.author }>
			<meta name="description" content={ config.description }>

			<meta property="og:site_name" content={ config.title }>
			<meta property="og:url" content={ config.url }>
			<meta property="og:title" content={ config.title }>
			<meta property="og:description" content={ config.description }>

			<link rel="icon" type="image/svg+xml" href="/images/custom/logo.svg">
			<link rel="icon" href="/favicon.ico">
			<meta property="og:image" content={ config.url + '/images/custom/logo-og.png' }>
			<meta property="og:image:width" content="512">
			<meta property="og:image:height" content="512">
			<meta name="theme-color" media="(prefers-color-scheme: light)" content={ config.lightPrimary }>
			<meta name="theme-color" media="(prefers-color-scheme: dark)" content={ config.darkPrimary }>
			<meta name="text-scale" content="scale">

			<title property="name">{ config.title }</title>
		</head>
		<body>
			<main id="content" class="content" tabindex="-1">
				<slot></slot>
			</main>
		</body>
	</html>

	<style is:global define:vars={{ 'color-1': config.lightPrimary, 'color-2': config.darkPrimary }}>
	*, *::before, *::after {
		box-sizing: border-box;
	}
	:root {
		--font-family: system-ui;
		--line-height: 1.5;
		--primary: var( --color-1 );
		--secondary: var( --color-2 );

		@media ( prefers-color-scheme: dark ) {
			--primary: var( --color-2 );
			--secondary: var( --color-1 );
		}
	}

	html {
		color-scheme: light dark;
		scrollbar-gutter: stable;
		container-type: inline-size;
		background-color: var( --primary );
	}
	body {
		max-block-size: 70ch;
		font-family: var( --font-family );
		line-height: var( --line-height );
		color: var( --secondary );

		@container ( width >= 70ch ) {
			background-image: linear-gradient( rgb( from var( --primary ) r g b / .9 ) ), url( /images/custom/logo.svg );
			background-repeat: repeat, no-repeat;
			background-position: center;
		}
	}
	p {
		margin: 0;
		text-wrap: pretty;
	}
	a {
		color: inherit;
		display: inline-block;
		padding: calc( var( --line-height ) / 2 * 1rem );
		border: 1px currentColor solid;
		text-decoration: none;
		vertical-align: baseline;
		text-decoration-skip-ink: auto;

		@media screen and ( prefers-reduced-motion: no-preference ) {
			transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
		}

		&:where( :hover, :focus ) {
			color: rgb( from currentColor r g b / .9 );
			text-decoration: none;
		}
		&:focus-visible {
			outline: 2px var( --secondary ) solid;
			outline-offset: 2px;
		}
		&:active {
			color: rgb( from currentColor r g b / .8 );
		}
	}
</style>
